---
import ExperienceItem from "./ExperienceItem.astro"
const EXPERIENCIE = [
  {
    date: "Octubre 2024 - Abril 2025",
    title: "Desarrollador",
    company: "Dauphin de México",
    description:
      "Proyecto de automatización de ventas, Desarolle un chatBot para el área de ventas de la empresa, el cual esta impulzado con inteligencia artifical sobre la información de dicha empresa. Desarrollador y responsable de la página oficial de la empresa, enfocada en la muestra de productos de audio profecional. Implementé un diseño web intuitivo y funcional que optimiza la experiencia del usuario y mejora la visibilidad de productos.",
      link: "https://www.dauphinmx.com",
   
  },
  
  {
    date: "Mayo-Septiembre 2023",
    title: "Practicas profecioales",
    company: "T-Systems",
    description:
      "Desarrollé un programa auxiliar en el proyecto T-Sycro para la generación automatizada de listas técnicas, reduciendo el tiempo de procesamiento manual en un 10%. Participé en reuniones de equipo y apliqué metodologías ágiles para el seguimiento de tareas y la entrega de resultados.",
  },
]

---

<ol class="relative mt-16">
  {
    EXPERIENCIE.map((experiencie) => (
      <li class="">
        <ExperienceItem {...experiencie} />
      </li>
    ))
  }
</ol>
